.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  background-color: #f2f2f2;
}
.button {
  display: inline-block;
  box-sizing: border-box;
  background-color: #756157;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  color: #fff;
}

.container {
  background-color: #fff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.header {
  position: relative;
  margin: 0 70px;
  display: flex;
}

.logo-link {
  position: absolute;
  position: 0 0;
}

.logo {
  width: 140px;
  height: 71px;
}

.nav {
  display: flex;
  margin-left: 182px;
  width: 100%;
  justify-content: space-between;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 28px;
  flex-wrap: wrap;
}

.menu-item {
  padding: 19px 2px;
}
.menu-item-active {
  border-bottom: solid 2px #000;
}

.menu-link {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.user-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  min-width: 258px;
  flex-wrap: wrap;
}

.user-item {
  padding: 22px 12px;
}

.search-link {
  display: block;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  object-fit: cover;
  width: 20px;
  height: 20px;
}

.favourite {
  display: block;
  position: relative;
  z-index: 0;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  width: 20px;
  height: 20px;
}

.favourite-count {
  position: absolute;
  bottom: 11px;
  left: 5px;
  width: 12px;
  height: 12px;
  padding: 3px;
  color: #fff;
  background-color: #7db54f;
  border: solid 1px #7db54f;
  border-radius: 50%;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
}

.menu-button {
  width: 160px;
  height: 36px;
  margin: 14px 0 14px 20px;
}

.menu-button-text {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  padding: 9px 3px;
}

.main {
  width: 100%;
}

.welcome {
  background-color: #042e4a;
  background-image:
    url("../img/divider.svg"), url("../img/index-background.jpg");
  background-repeat: no-repeat;
  background-size:
    100% 57px,
    cover;
  background-position:
    left 0 bottom 0,
    0 0;
  padding-top: 51px;
  padding-bottom: 82px;
  min-height: 485px;
  box-sizing: border-box;
}

.img-welcome {
  display: block;
  margin: 0 auto;
  width: 458px;
  height: 352px;
}

.section-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reasons-block {
  padding-block-start: 69px;
  padding-block-end: 89px;
}

.block-title {
  padding: 0;
  width: 620px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.block-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  text-align: center;
}

.reasons-title {
  margin: 70px auto 25px;
}

.reasons-list {
  margin: 0;
  padding: 0;
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr;
}

.reasons-item {
  margin: 0;
  text-align: center;
}

.reasons-item.pic {
  display: flex;
  grid-column: 1/-1;
}

.pic-text {
  padding: 102px 0;
  width: 400px;
}

.card {
  padding: 113px 0;
  width: 400px;
}

.card-title::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  top: 85px;
  left: 85px;
  z-index: 3;
}

.pic-text .card-title::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.card .card-title::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.reasons-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.reasons-item:nth-child(2n-1) {
  background-color: rgba(131, 179, 211, 0.122);
}

.reasons-item.pic {
  background-color: #82b3d3;
}

.card-title {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 62px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  width: 230px;
  margin: 0 auto 61px;
}

.reasons-text {
  margin: 25px auto 89px;
}

.card-text {
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  width: 230px;
}

.reasons-img {
  width: 800px;
  height: 100%;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

.invitation-title {
  margin: 64px auto 20px;
}

.invitation-text {
  margin-bottom: 65px;
}

.services {
  margin: 0;
  padding: 0;
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr;
}

.service-item:nth-child(2n-1) {
  background-color: rgba(131, 179, 211, 0.122);
}

.service-item {
  text-align: center;
  padding: 183px 0 80px;
}

.service-title {
  margin-bottom: 30px;
}

.house {
  background-image: url("../img/accomodation.svg");
  background-repeat: no-repeat;
  background-position: 161px 80px;
}

.food {
  background-image: url("../img/food.svg");
  background-repeat: no-repeat;
  background-position: 161px 80px;
}

.gifts {
  background-image: url("../img/presents.svg");
  background-repeat: no-repeat;
  background-position: 170px 80px;
}

.search {
  padding: 97px 0;
  text-align: center;
}

.search-title {
  margin: 0 auto 19px;
}

.search-text {
  margin-bottom: 53px;
}

.search-button {
  justify-self: center;
  width: 376px;
  min-height: 52px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  weight: 700;
  color: #fff;
  border: none;
}

.subscription {
  background-image: url("../img/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 96px;
}

.subscription-title {
  margin: 0 auto 20px;
}

.subscription-text {
  width: 475px;
  margin: 0 auto 54px;
}

.subsciption-form {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.subscription-field {
  box-sizing: border-box;
  min-width: 452px;
  padding: 17px 20px;
  margin: 0;
  font-family: inherit;
  border: none;
}

.subscription-field::placeholder {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.subcription-button {
  background-color: #82b3d3;
  width: 232px;
  margin: 0;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-height: 52px;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  font-family:
    PT Sans,
    Arial,
    sans-serif;
}

.footer-menu {
  display: flex;
  padding: 38px 30px;
  justify-content: flex-start;
  gap: 43px;
  align-items: center;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 142px;
}

.socials-item {
  width: 47px;
  min-height: 24px;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
}

.social-vk {
  background-image: url("../img/vk.svg");
}

.social-tg {
  background-image: url("../img/tg.svg");
}

.social-ut {
  background-image: url("../img/youtube.svg");
}

.tel {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  width: 720px;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  text-align: center;
}

.refrence-link {
  justify-self: flex-end;
}
